body
{
    background-color: #ffdab9;
}
ul
{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    
    overflow: hidden;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 50px;
   
}
li
{
    float: left;
    
}
li a
{
    display: block;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    padding: 14px 14px;
    color: black;
    font-family: "Comfortaa", sans-serif;

}
.navbar
{
    margin-left: 250px;
}
.navend
{
    margin-right: 150px;  
     
}
.container
{
    background-color: white;
    margin: 40px;
}
.navfoot
{
  
    margin-left: 100px;
    position: relative;
    
    width: 100%;
}
.footer
{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    gap: 40px 40px;
    margin-left: 200px;
    
    
    

}
h3{
    font-family: "Comfortaa", sans-serif;   
    font-weight: 900px;
    margin-left: 100px;
}
p{
    color: lightgray;
    margin-left: 100px;
}
.search
{
    display: flex;
    position: absolute;
    top: 500px; 
    margin-left: 400px;
    background-color: white;
    gap: 40px 40px;
    text-align: center;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    font-family: "Comfortaa", sans-serif;
   
}
.blue
{
    position: absolute;
    bottom: 200px;
    margin-left: 300px;
}
h1{
    font-family: "Comfortaa", sans-serif; 
    font-size: 50px;
    font-weight: 200px;
    
}
.aero
{
    float: right;
    margin-right: 30px;
    font-size: 30px;
}
@media screen and (max-width:600px) {
    
ul
{
    margin: 0;
    padding: 0;
    
    list-style-type: none;
    
    overflow: hidden;
    text-decoration: none;   
}
li
{
    float: none;
    
}
li a
{
    display: block;
    margin-top: 2px;
    text-decoration: none;
    text-align: center;
    padding: 4px 4px;
    color: black;
    font-family: "Comfortaa", sans-serif;

}
.navbar
{
    margin-left: 10px;
}
.navend
{
    margin-right: 90px;  
     
}
.container
{
    background-color: white;
    margin: 4px;
}
.navfoot
{
  
    margin-left: 10px;
    position: relative;
    
    width: 100%;
}
.footer
{
    display: flex;
    flex-direction: column;
    flex-basis:3%;
    gap: 5px 5px;
    margin-left: 40px;
    justify-content: space-between;
    
    

}
h3{
    font-family: "Comfortaa", sans-serif;   
    font-weight: 900px;
    margin-left: 1px;
}
p{
    color: lightgray;
    margin-left: 1px;
}
.search
{
    display: flex;
    position: absolute;
    top: 525px; 
    margin-left: 4px;
    background-color: white;
    gap: 10px 10px;
    text-align: center;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    font-size: 10px;
    color: black;
    font-family: "Comfortaa", sans-serif;
   
}
.blue
{
    position: absolute;
    bottom: 300px;
    margin-left: 13px;
    
}
h1{
    font-family: "Comfortaa", sans-serif; 
    font-size: 30px;
    font-weight: 100px;
    
}
.aero
{
    float: right;
    margin-right: 30px;
    font-size: 30px;
}
    
}
